@using ProjectWork.Data.ViewModels;
@using ProjectWork.Models;
<h3>EditForm</h3>
<EditForm Model="@Movie" OnValidSubmit="@SaveTodoItem">
    <div>
        <label for="slug"><b>slug</b></label>
        <input type="text" @bind-value="Movie.Slug" placeholder="Enter Slug" name="Slug">
    </div>
    <div>
        <label for="title"><b>title</b></label>
        <input type="text" @bind-value="Movie.Title" placeholder="Enter Title" name="Title">
    </div>
    <div>
        <label for="description"><b>description</b></label>
        <input type="text" @bind-value="Movie.Description" placeholder="Enter Description" name="Description">
    </div>
    <div>
        <label for="author"><b>author</b></label>
        <input type="text" @bind-value="Movie.Author" placeholder="Enter Author" name="Author">
    </div>
    <button type="submit"> Save </button>

</EditForm>

@code {
    [Parameter]
    public MovieViewModel MovieViewModel { get; set; }
    public Movie Movie = new Movie();
    async Task SaveTodoItem()
    {
        await MovieViewModel.CreateItem(Movie);
    }

}
