@page "/add-artwork"
@inject DashboardAdminArtworkVM Artwork
@using ProjectWork.ViewModels.Artwork
@using Microsoft.AspNetCore.Components
@using ProjectWork.Models.Artwork
@using System.ComponentModel
@implements IDisposable
@layout AdminLayout


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(0.2)">

    <h3>Add Artwork</h3>
    <hr />

    <EditForm Model="@artwork" OnValidSubmit="async ()=>await Artwork.AddItemAsync(artwork)">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <table>
            <tr>
                <th>Field</th>
                <th>Data</th>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Author
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Author"
                           placeholder="Enter Author">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Author id
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.AuthorId"
                           placeholder="Enter Author id">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Title
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Title"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Date
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Date"
                           placeholder="Enter Date">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Technique
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Technique"
                           placeholder="Enter Technique">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Location
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Location"
                           placeholder="Enter Location">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Form
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Form"
                           placeholder="Enter Form">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Type
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Type"
                           placeholder="Enter Type">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Description
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.Description"
                           placeholder="Enter Description">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Time Frame
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                           @bind-value="artwork.TimeFrame"
                           placeholder="Enter Time Frame">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td>
                    Image
                </td>
                <td>
                    <InputFile class="w3-button w3-round" OnChange="(e)=> artwork.File = e.File" />
                </td>
            </tr>
        </table>


        @*TODO: disable if Artwork.IsBusy*@
        <button type="submit" class="general-button">Add</button>
    </EditForm>
</Animate>

@code {
    BaseArtwork artwork = new BaseArtwork();
    protected override async Task OnInitializedAsync()
    {
        Artwork.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
        //TODO: CLEAR PARAMETERS
        await base.OnInitializedAsync();
    }
    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    public void Dispose()
    {
        Artwork.PropertyChanged -= OnPropertyChangedHandler;
    }
}

