@page "/Home"
@using ProjectWork.ViewModels.Artwork
@using System.ComponentModel
@implements IDisposable

@inject SearchArtworkViewModel DirectorArtworkSearch
@inject IJSRuntime JsRuntime


<div class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1>Search</h1>
                <p>Here you can search for any art pieces you are interested in.</p>
            </div>
        </div>
        <SearchArtwork></SearchArtwork>
    </div>
</div>
<div>
    @if (DirectorArtworkSearch.GenericData.Data.Any())
    {
        <!-- Search Section -->
        <div>
            <PaginatorComponent Paginator="DirectorArtworkSearch.Paginator"></PaginatorComponent>
        </div>
        <!-- End Search Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">

                <div class="row gy-4 justify-content-center">
                    @foreach (var artwork in DirectorArtworkSearch.GenericData.Data)
                    {
                        <!-- Start Gallery Item -->
                        <div class="col-xl-4 col-lg-6 col-md-9" style="height: 600px">
                            <div class="gallery-item h-100">
                                <img class="img-artwork" src="@artwork.ImageUrl" alt="@artwork.Title" style="height: 100%; width: 100%;object-fit: cover; border-radius: 15px;">
                                <div class="gallery-links d-flex align-items-center justify-content-center">
                                    <a href="@artwork.ImageUrl" data-fancybox="gallery" data-caption="@artwork.Title" class="preview-link">
                                        <span class="material-symbols-outlined">
                                            zoom_out_map
                                        </span>
                                    </a>
                                    <a href="/detail-artwork/@artwork.Id" class="details-link">
                                        <span class="material-symbols-outlined">
                                            info
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Gallery Item --->
                    }
                </div>
            </div>
        </section>
        <div>
            <PaginatorComponent Paginator="DirectorArtworkSearch.Paginator"></PaginatorComponent>
        </div>
    }
    else
    {
        <div class="w3-padding-24 w3-round-large w3-opacity w3-margin-top">
            <p class="middle">Sorry but your search yielded no results</p>
        </div>
    }
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        DirectorArtworkSearch.PropertyChanged += async (sender, e) => { await InvokeAsync(StateHasChanged); };
        await DirectorArtworkSearch.GetGenericDataFromPageAsync();
        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        DirectorArtworkSearch.PropertyChanged -= OnPropertyChangedHandler;
    }

    //Call my js
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JsRuntime.InvokeVoidAsync("Main.start");
    }


}