@page "/accountEdit"
@inject NavigationManager NavManager

<style>

    ul {
        list-style-type: none;
    }
</style>

<Animate Animation="Animations.FlipDown" Duration="TimeSpan.FromSeconds(0.7)">
    <div class="w3-card-4 w3-padding w3-margin-left w3-round-xlarge w3-margin-bottom w3-margin-top">
        <h3 class="w3-margin-left">User Profile</h3>

        <hr />

        <ul>
            <li>
                <p class="w3-bold">Username:</p>
            </li>
            <li>
                <input class="w3-round w3-margin-right w-50 w3-margin-bottom" type="text" id="username">
            </li>
            <li>
                <p class="w3-bold">E-mail:</p>
            </li>
            <li>
                <input class="w3-round w3-margin-right w-50 w3-margin-bottom" type="text" id="mail">
            </li>
            <li>
                <p class="w3-bold">Bio:</p>
            </li>
            <li>
                <textarea id="w3review" name="w3review" rows="4" cols="50">
                </textarea>
            </li>

            <li>
                <span class="w3-bold w3-large">Type of access: </span>
                <span class="w3-text-green">Standard</span>
            </li>
            <li>
                <span>
                    <button onclick="@editPassword" class="general-button">
                        Edit your Password
                    </button>
                </span>
            </li>

            @if (showEditPassword)
            {
                <li>
                    <p class="w3-bold">Old password:</p>
                </li>
                <li>
                    <input class="w3-round w3-margin-right w-50 w3-margin-bottom" type="password" id="oldpw">
                </li>

                <li>
                    <p class="w3-bold">New password:</p>
                </li>
                <li>
                    <input class="w3-round w3-margin-right w-50 w3-margin-bottom" type="password" id="newpw">
                </li>

                <li>
                    <p class="w3-bold">Repeat new password:</p>
                </li>
                <li>
                    <input class="w3-round w3-margin-right w-50 w3-margin-bottom" type="password" id="newpw1">
                </li>
            }
        </ul>

        <hr />
        <ul>
        <span>
            <button onclick="@save" class="general-button">
                Save
            </button>
        </span>
        </ul>
    </div>
</Animate>

@code {
    private bool showEditPassword = false;

    private void save()
    {
        NavManager.NavigateTo("/accountDetails");
    }


    private void editPassword()
    {
        if (showEditPassword)
            showEditPassword = false;
        else
            showEditPassword = true;
    }

}

