#password-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 350px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 2rem;
}

.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

.forget-pwd > a {
    color: #dc3545;
    font-weight: 500;
}

.forget-password .panel-default {
    margin-top: -45%;
}

.forget-password .panel-body {
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 40%;
    margin-bottom: 10%;
}

.btnForget {
    background: #c0392b;
    border: none;
}

.forget-password .dropdown {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.forget-password .dropdown button {
    width: 100%;
}

.forget-password .dropdown ul {
    width: 100%;
}