@page "/registration"
@using ProjectWork.Models.Core.Authentication
@using ProjectWork.Utilities
@layout MainLayout

@inject NavigationManager NavManager
<style>
    #content-container {
        background-image: url("bg-login.jpg");
        background-size: cover;
    }
</style>
<Animate Animation="Animations.SlideDown" Duration="TimeSpan.FromSeconds(0.2)" class="text-center" style="height: 100%; width: 100%; display: flex !important; align-items: center; justify-content: center; padding-top: 40px; padding-bottom: 40px;">
    <div id="register-card" class="card">
        <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

            <EditForm 
                Model="@registrationModel" OnValidSubmit="async ()=> await AttemptRegistration(registrationModel)"
                >

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" @bind-value="registrationModel.Username" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Your Username</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3cg" @bind-value="registrationModel.Email" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cg" @bind-value="registrationModel.Password1" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cdg" @bind-value="registrationModel.Password2" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                        Register
                    </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                    Have already an account? 
                    <NavLink href="registration">
                        <a class="fw-bold text-body">Login here</a>
                    </NavLink>
                </p>

            </EditForm>

        </div>
    </div>
</Animate>

@code {
    readonly RegistrationModel registrationModel = new();

    private async Task AttemptRegistration(RegistrationModel registrationModel)
    {
        var attempt = await App.Authentication.RegistrationUser(registrationModel);
        if (attempt)
        {
            NavManager.NavigateTo("/dashboard");
        }
        else
        {
            await UtilityToolkit.CreateToast("Registration Failed");
        }

    }
}