@page "/reset-password"
@using ProjectWork.Utilities
@using System.ComponentModel.DataAnnotations
@using System.Text.Json.Serialization
@inject NavigationManager NavManager
@layout MainLayout

<style>
    main {
        background-image: url("bg-1.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100% !important;
    }
</style>


<div class="d-flex align-items-center justify-content-center">
    <div id="password-card" class="card w3-card-4 w3-round-xlarge w3-white tall w3-padding-large">

        <span class="material-symbols-outlined w3-xxxlarge w3-margin-top w3-center">
            key_off
        </span>

        <p class="w3-center">You can reset your password here.</p>
        <div class="form-signin">

            <EditForm Model="_modelEmail" id="register-form" role="form" autocomplete="off" class="form" OnValidSubmit="async () => await SendEmail(_modelEmail)">
                <div class="form-group w3-margin-top w3-margin-bottom">
                    <div class="input-group">
                        <p>Write the email the account is linked to:</p>
                    </div>
                </div>
                <div class="form-group w3-margin-top w3-margin-bottom">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope color-blue"></i>
                        </span>
                        <input id="forgetEmail" name="forgetEmail" placeholder="Email" class="form-control w3-round" @bind-value="_modelEmail.Email" type="text">
                    </div>
                </div>
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <br/>
                <div class="form-group w3-margin-top w3-margin-bottom">
                    <input name="btnForget" class="w3-margin-top w3-margin-bottom general-button w-100" value="Send email" type="submit">
                </div>
            </EditForm>
            <p class="text-center text-muted mt-5 mb-0 w3-margin-top w3-margin-bottom">
                Have already an account?
                <NavLink href="login">
                    <a class="w3-text-red text-body">Login here</a>
                </NavLink>
            </p>
        </div>
    </div>
</div>

@code {

    readonly EmailReset _modelEmail = new();

    private async Task SendEmail(EmailReset userEmail)
    {
        var attempt = await App.Authentication.SendRequest(userEmail, Endpoints.GetPasswordResetEndpoint());
        if (attempt.status)
        {
            await UtilityToolkit.CreateToast("Email Sent");
            NavManager.NavigateTo("/login");
        }
        else
        {
            await UtilityToolkit.CreateToast(attempt.message);
        }
    }

    class EmailReset
    {
        [Required]
        [JsonPropertyName("email")]
        public string Email { get; set; }
    }

}