@page "/reset-password"
@using ProjectWork.Utilities
@using System.ComponentModel.DataAnnotations
@using System.Text.Json.Serialization
@using ProjectWork.Resources.Static
@inject NavigationManager NavManager
@layout MainLayout

<style>
    main {
        background-image: url("bg-3.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100% !important;
    }
</style>

<Animate Animation="Animations.FlipLeft" Duration="TimeSpan.FromSeconds(0.2)" class="text-center" style="height: 100%; width: 100%; display: flex !important; align-items: center; justify-content: center; padding-top: 40px; padding-bottom: 40px;">

    <div id="password-card" class="card w3-card-4 w3-round-xlarge w3-white tall w3-padding-large">

            <span class="material-symbols-outlined w3-xxxlarge w3-margin-top">
                key_off
            </span>

            <p>You can reset your password here.</p>
        <div class="form-signin">

            <EditForm Model="_modelEmail" id="register-form" role="form" autocomplete="off" class="form" OnValidSubmit="async ()=>await SendEmail(_modelEmail)">
                <div class="form-group w3-margin-top w3-margin-bottom">
                    <div class="input-group">
                        <p>Write the email the account is linked to:</p>
                    </div>
                </div>
                <div class="form-group w3-margin-top w3-margin-bottom">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                        <input id="forgetEmail" name="forgetEmail" placeholder="Email" class="form-control w3-round" @bind-value="_modelEmail.Email" type="text">
                    </div>
                </div>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <br />
                <div class="form-group w3-margin-top w3-margin-bottom">
                    <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget w3-margin-top w3-margin-bottom general-button w-100" value="Send email" type="submit">
                </div>
            </EditForm>
            <p class="text-center text-muted mt-5 mb-0 w3-margin-top w3-margin-bottom">
                Have already an account?
                <NavLink href="login">
                    <a class="w3-text-red text-body">Login here</a>
                </NavLink>
            </p>
        </div>
    </div>
</Animate>

@code {

    readonly EmailReset _modelEmail = new();
    private async Task SendEmail(EmailReset userEmail)
    {
        var attempt = await App.Authentication.SendRequest(userEmail,Endpoints.GetPasswordResetEndpoint());
        if (attempt.status)
        {
            await UtilityToolkit.CreateToast("Email Sent");
            NavManager.NavigateTo("/password-reset-confirm");
        }
        else
        {
            await UtilityToolkit.CreateToast(attempt.message);
        }
    }

    class EmailReset
    {
        [Required]
        [JsonPropertyName("email")]
        public string Email { get; set; }
    }

}
