.card-image {
    margin-left: auto;
    display: block;
    padding-top: 5px;
    width: 95%;
    margin-right: auto;
    height: 400px;
    object-fit: cover;
}
p span {
    vertical-align: middle;
}