<style>

    .delete {
        display: none;
    }
</style>

<div class="@_delete">
    <div class="w3-card-4 w3-text-black w3-padding-large w3-center w-100 w3-round-large w3-margin-bottom">
        <button class="w3-right w3-button w3-hover-shadow w3-round" @onclick="hide">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
        <p class="w3-xlarge">
            You have no Notifications
        </p>

        <hr />
    </div>
</div>
@code {
    private string _delete = "";


    async private void hide()
    {
        _delete = "delete";
    }
}