@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content p-0 p-lg-4">
            @Body
        </article>
    </main>
</div>