@inherits LayoutComponentBase
@using BlazorAnimate

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article id="content-container" class="">
            @Body
        </article>
    </main>
</div>
