@inject NavigationManager NavManager

<div class="navbar-color">
    <div class="top-row ps-3 navbar">
        <div class="container-fluid">
            <a class="navbar-brand w3-text-white w3-large" href="">
                Admin Tools
                <span class="material-symbols-outlined w3-text-white"> handyman </span>
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="material-symbols-outlined w3-text-white">
                    menu
                </span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenuDiv">
        <div class="nav nav-pills flex-column mb-auto">
            <div class="nav-item px-3">
                <NavLink class="nav-link w3-padding-16" href="/Home">
                    <span class="material-symbols-outlined w3-margin-right">undo</span> Back
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link w3-padding-16" href="/dashboard">
                    <span class="material-symbols-outlined">
                        breaking_news_alt_1
                    </span> Notifications
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link w3-padding-16" href="/search_and_edit">
                    <span class="material-symbols-outlined w3-margin-right" gr>image_search</span> Search and edit
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link w3-padding-16" href="artwork">
                    <span class="material-symbols-outlined w3-margin-right">
                        add_to_photos
                    </span> Add Artwork
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick="LogOut">
                    <span class="material-symbols-outlined w3-margin-right">logout</span> Logout
                </NavLink>
            </div>

        </div>

        @*Account/admin*@
        <div class="nav nav-pills flex-column mt-auto">

            @if (App.Authentication.UserSession is null)
            {
                <!--
                <div class="nav-item px-3 w3-margin-bottom">
                    <NavLink class="nav-link w3-padding-16" href="login">
                        <span class="material-symbols-outlined w3-margin-right">login</span> Login
                    </NavLink>
                </div> -->
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link w3-padding-16" href="accountDetails">
                        <span class="material-symbols-outlined w3-margin-right">settings_account_box</span> @App.Authentication.UserSession.User.Username
                    </NavLink>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
    private void ToggleNavMenuDiv()
    {
        if (!_collapseNavMenu)
        {
            _collapseNavMenu = !_collapseNavMenu;
        }
    }

    private void LogOut()
    {
        App.Authentication.LogOut();
    }

}