@page "/AccountCreation"
@inject NavigationManager NavManager
@layout MainLayout

<style>

    ul {
        list-style-type: none;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #f44336;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #ccc;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
</style>

<Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(0.2)">
    <div class="w3-card-4 w3-padding w3-margin-left w3-round-xlarge w-75">
        <h3 class="w3-margin-left">Sign Up</h3>

        <hr />

        <ul>
            <li>
                <p class="w3-bold">E-mail</p>
            </li>
            <li>
                <p>
                    <input class="w3-round" type="email" required/>
                </p>
            </li>

            <li>
                <p class="w3-bold">Username</p>
            </li>
            <li>
                <p>
                    <input class="w3-round" type="text" required />
                </p>
            </li>

            <li>
                <p class="w3-bold">Password</p>
            </li>
            <li>
                <p>
                    <input class="w3-round" type="password" required />
                </p>
            </li>

            <li>
                <p class="w3-bold">Confirm Password</p>
            </li>
            <li>
                <p>
                    <input class="w3-round" type="password" required/>
                </p>
            </li>

            <li>
                <p class="w3-bold">Request for an Administrative account</p>
            </li>
            <li>
                <p>
                    <label class="switch middle w3-margin-left w3-margin-right">
                        <input type="checkbox" @onchange="CheckboxChanged">
                        <span class="slider round"></span>
                    </label>
                </p>
            </li>

            <li>
                @if (adminAccount)
                {
                    <span class="w3-bold w3-large">Type of access: </span>
                    <span class="w3-text-red">Admin</span>
                }
                else
                {
                    <span class="w3-bold w3-large">Type of access: </span>
                    <span class="w3-text-green">Standard</span>
                }
            </li>

            <li>
                <button class="w3-button w3-round-large w3-red w3-margin-bottom w3-margin-top w3-margin-bottom"
                        @onclick="submit">
                    Submit
                </button>

            </li>

        </ul>

        <hr />
    </div>
</Animate>

@code
{
    private bool adminAccount;

    private void CheckboxChanged(ChangeEventArgs e)
    {
        adminAccount = (bool)e.Value;
    }

    public void submit()
    {
        NavManager.NavigateTo("/login");
    }
}

