@page "/accountDetails"
@inject NavigationManager NavManager

<style>

    #logo {
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    .bold{
        font-weight: bold;
    }

    ul {
        list-style-type: none;
    }
</style>

<div class="w3-card-4 w3-padding w3-margin-left w3-round-xlarge">
    <h3 class="w3-margin-left">User Profile</h3>

    <span class="w3-margin-left w3-center material-symbols-outlined w3-margin-bottom w3-red w3-amber w3-margin-top w3-xxxlarge w3-circle" id="logo">
        person
    </span>

    <hr />

    <ul>
        <li>
            <p class="bold">Username:</p>
        </li>
        <li>
            <p>
                Jaque LeFerl
            </p>
        </li>
        <li>
            <p class="bold">E-mail:</p>
        </li>
        <li>
            <p>
                my-mail@Email.com
            </p>
        </li>
        <li>
            <p class="bold">Bio:</p>
        </li>
        <li>
            <p>
            Jaque LeFerl is a seasoned art critic with 13 years of experience. 
            Specializing in Impressionism, he offers insightful and thought-provoking critiques, bringing a unique perspective to the masterpieces of the era. 
            A must-read for those passionate about this captivating art movement.
            </p>
        </li>
        <li>
            <span class="bold w3-large">Type of access: </span>
            <span class="w3-text-green">Standard</span>
        </li>
    </ul>

    <hr/>

    <span>
        <button onclick="@edit_Account" class="w3-large btn w3-button w3-red w3-round w3-margin-bottom w3-margin-top w3-margin-left w3-margin-right">
            Edit
        </button>
    </span>

</div>


@code{
    private void edit_Account() => NavManager.NavigateTo("/AccountEdit");

}

