@page "/artwork"
@using ProjectWork.Models.Artwork;
@using ProjectWork.ViewModels;
@using System.ComponentModel;
@*HTML DI ANGULAR VIEW *@
@inject DashboardAdminVM Artwork
@implements IDisposable
@layout AdminLayout


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(0.2)">

    <h3>Add Artwork</h3>
    <hr />

    <table>
        <tr>
            <th>Field</th>
            <th>Data</th>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Author
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Author"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Title
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Title"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Date
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Date"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Technique
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Technique"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Location
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Location"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Form
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Form"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Type
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Type"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td class="w3-padding-16">
                <p class="w3-w3-bold">
                    Description
                </p>
            </td>
            <td>
                <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Description"
                       placeholder="Enter Title">
            </td>
        </tr>
        <!---------------------------------------------------->
        <tr>
            <td>
                Image
            </td>
            <td>
                <InputFile class="w3-button w3-round" OnChange="(e)=> artwork.File = e.File" />
            </td>
        </tr>
    </table>

    <EditForm Model="@artwork" OnValidSubmit="async ()=>await Artwork.AddItemAsync(artwork)">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @*TODO: disable if Artwork.IsBusy*@
        <button type="submit" class="w3-red w3-button w3-margin-right w3-margin-left w3-margin-top w3-round-large">Add</button>
    </EditForm>
</Animate>

@code {
    BaseArtwork artwork = new BaseArtwork();
    protected override async Task OnInitializedAsync()
    {
        Artwork.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
        //TODO: CLEAR PARAMETERS
        await base.OnInitializedAsync();
    }
    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    public void Dispose()
    {
        Artwork.PropertyChanged -= OnPropertyChangedHandler;
    }
}

