@page "/dashboard"
@layout AdminLayout

<style>
    hr {
        display: block;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-left: auto;
        height: 0px;
        margin-right: auto;
        border-style: none;
        border-width: 0px;
    }

    p {
        font-weight: 600;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


    <h1>Dashboard</h1>
<p>
    Here you can see your notifications.
</p>
    <hr />

    <Alert message="Richiesta di modifica credenziali" icon="key"></Alert>

    <Alert message="Evento del giorno" icon="event"></Alert>

    <Alert message="Tour programmato" icon="tour"></Alert>
