@page "/dashboard"
@layout AdminLayout

<style>
    hr {
        display: block;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-left: auto;
        height: 0px;
        margin-right: auto;
        border-style: none;
        border-width: 0px;
    }

    p {
        font-weight: 600;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(0.2)">
    <h1>Dashboard</h1>

    <hr />

    <Alert></Alert>

    <div class="w3-text w3-padding-24 w3-large w3-opacity">
        <p>
            There are no new info.
        </p>
    </div>
</Animate>