@page "/dashboard"
@layout AdminLayout

<style>
    hr {
        display: block;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-left: auto;
        height: 0px;
        margin-right: auto;
        border-style: none;
        border-width: 0px;
    }

    p {
        font-weight: 600;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(0.2)">
    <h1>Dashboard</h1>

    <hr />

    <Alert message="Ciao" icon="key"></Alert>

    <Alert message="evento del giorno" icon="event"></Alert>

    <div class="w3-card-4 w3-text-black w3-padding-large w3-center w-100 w3-round-large w3-margin-bottom">
        <button class="w3-right w3-button w3-hover-shadow w3-round">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>

        <div class="w3-left-align ">
            <span class="material-symbols-outlined" style=" font-size: 6em;">
                event
            </span>
        </div>

        <p class="w3-xlarge">
            Evento di presentazione del museo "X"
        </p>

        <p class="w3-medium">
            In data 22/02/2023 le si richiede di presenziare al tour del museo "X" in quanto presentatore delle opere al centro del evento
        </p>

        <!--<hr>-->
    </div>
    <div class="w3-text w3-padding-24 w3-large w3-opacity">
        <p>
            There are no new info.
        </p>
    </div>
</Animate>