@page "/info"

<style>

    #logo {
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    .w3-bold {
        font-weight: w3-bold;
    }

    ul {
        list-style-type: none;
    }
</style>

    <div class="w3-card-4 w3-padding w3-round-xlarge w-100 w3-margin-top">
        <h3 class="w3-margin-left">About the app</h3>

        <hr />

        <ul>
            <li>
                <p class="w3-bold">Version:</p>
            </li>
            <li>
                <p>
                    1.0.0 alpha
                </p>
            </li>
            <li>
                <p class="w3-bold">Developer E-mail:</p>
            </li>
            <li>
                <p>
                    ArtScout-dev@gmail.com
                </p>
            </li>
            <li>
                <p class="w3-bold">Dev team:</p>
            </li>
            <li>
                <p>
                    Angelo Bonicelli, Daniele Di Renzo, Kevin Shinki, Francesco Scarpellini
                </p>
            </li>
        </ul>

        <hr />
    </div>


