@page "/login"

@inject NavigationManager NavManager

    <style>

        #logo {
            padding-top: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
            padding-left: 16px;
        }

        body {
            background-image: url("bg.jpg");
            background-size: 50%;
        }

    </style>

    <div class="w3-card-4 w3-center w3-padding-large w3-margin w3-round-xxlarge w3-container w3-white w3-display-middle my-100 mx-auto">

            <span class="material-symbols-outlined w3-text-white w3-margin-bottom w3-margin-top w3-xxxlarge w3-circle main-gradient" id="logo"> brush </span>
            <h1 class="w3-card-2 w3-red main-gradient w3-text-white w3-round-xlarge w3-xxlarge w3-margin-bottom" style="text-shadow:8px; font-weight:bolder;">
                ART SCOUT
            </h1>

            <h3 class="w3-text-black w3-xlarge">Welcome to the login page</h3>


            <label>Username:</label><br />
            <input class="w3-round w3-margin-right w-100" type="text" id="username"><br><br>
            <label>Password:</label><br />
            <input class="w3-round w3-margin-right w-100" type="password" id="password"><br><br>

            <div class="d-inline-flex w3-center">
                <button class="btn w3-margin-bottom w3-margin-top w3-padding w3-button w3-round-large w3-padding-16 w3-red" @onclick="@attemptLogin">Login</button>
            </div>


            @if (hideAlert == false)
            {
                <div>
                    <p class="w3-animate-right w3-round-xlarge w3-text-red">Login Failed</p>
                </div>
            }
        </div>

@code {

    bool hideAlert = true;

    private void attemptLogin()
    {
        ProjectWork.Data.Services.LoginAgent.setLoggedIn(true);
        NavManager.NavigateTo("/dashboard");
    }
}