@page "/"

<Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(0.2)">
    <style>

        #search {
            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 5px;
            padding-left: 20px;
        }

        .button-padding {
            padding-top: 0px;
            padding-right: 16px;
            padding-bottom: 0px;
            padding-left: 16px;
        }
    </style>

        <h1>Search</h1>

        <p>Here you can search for any art pieces you are interested in.</p>

        <div class="w3-bar w3-margin-bottom w3-padding">
            <span>
                <input id="searchBar" type="search" class="w3-padding w3-round w3-margin-bottom w3-margin-right w-75" />
                <button id="search" class="btn w3-button w3-red w3-round-large" @onclick="@AddElement">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </span>
            <hr />
        </div>


        <div>
            <div class="w3-center">
                @foreach (var e in elements)
                {
                    <div class="w3-card-4 w3-animate-right w3-round-large w3-white w3-margin-bottom w3-padding-top-24">
                        <p class="w3-xxlarge">
                            Lorem Ipsum
                            <button class="w3-round-large w3-center button-padding w3-text-black w3-hover-text-red w3-button">
                                <span class="material-symbols-outlined">
                                    favorite
                                </span>
                            </button>

                        </p>

                        <div class="w3-row">
                            <div class="w3-col m6 w3-center w3-padding-large">
                                <p><b><i class="fa fa-user w3-margin-right"></i>Photo</b></p><br>
                                <img class="w3-round w3-image w3-margin-bottom" src="https://i.warosu.org/data/lit/img/0111/64/1526591653854.jpg" width="500" height="333" />
                            </div>

                            <div class="w3-col m6 w3-padding-large w3-left-align">
                                <p>
                                    The mesmerizing artwork, entitled 'Wolf and Watermelon', is a true masterpiece that captivates the viewer from the moment they lay their eyes on it.
                                    The painting features a magnificent wolf, with piercing eyes and a proud stature, indulging in a juicy slice of watermelon.
                                    The artist has perfectly captured the wolf's expression of pure enjoyment and satisfaction as it savors the sweetness of the fruit.<br>
                                    The intricate details of the wolf's fur, the textures of the watermelon, and the background elements all come together to create a vivid and lifelike image.
                                    The use of bright and contrasting colors, such as the deep blue sky and the lush green foliage, add to the playful nature of the piece and enhance its eye-catching appeal.<br><br>
                                    The combination of a fierce predator and a seemingly incongruous subject, such as the watermelon, creates a unique and thought-provoking piece that encourages the viewer to question their assumptions and embrace the unexpected.
                                    The playful and lighthearted nature of the artwork is a refreshing contrast to the often serious and somber depictions of wild animals, making it a great addition to any collection that seeks to add a touch of whimsy and playfulness.<br>
                                    Overall, 'Wolf and Watermelon' is a true work of art that showcases the artist's exceptional skills and creativity.
                                    Its ability to captivate and engage the viewer, combined with its thought-provoking and playful nature, make it a must-see for anyone who appreciates the beauty and power of art.
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</Animate>

@code {
    private List<String> elements = new();

    private void AddElement()
    {
        int number = 5;
        for (int i = 0; i < number; i++)
            elements.Add("Lorem Ipsum");
    }
}
