@page "/example"
@*HTML DI ANGULAR VIEW *@
<h3>Movies</h3>
@using ProjectWork.Data.ViewModels
@using ProjectWork.Models
@using System.ComponentModel
@inject MovieViewModel Movie
@implements IDisposable


<EditItem MovieViewModel=Movie ></EditItem>


<hr />

<button @onclick="GetItems">ciao</button>
@if (Movie.Items != null)
{
    @foreach (var item in Movie.Items)
    {
        <hr />
        <p>@item.Title</p>
        <p>@item.Description</p>
        <button @onclick="()=>Movie.DeleteItem(item)">delete</button>
    }
}
@code {
    Movie _movie = new();
    protected override async Task OnInitializedAsync()
    {
        Movie.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
        await Movie.ReadItems();
        await base.OnInitializedAsync();
    }
    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    public void Dispose()
    {
        Movie.PropertyChanged -= OnPropertyChangedHandler;
    }
    async Task GetItems()
    {
         //await Movie.ShowMovies();
    }

}
