@page "/add-artist"
@inject DashboardAdminArtistVM DirectorArtistAdmin
@using ProjectWork.ViewModels.Artist
@using ProjectWork.Models.Artist
@using System.ComponentModel
@implements IDisposable
@layout AdminLayout


<h3>Add Artist</h3>
<hr/>
<EditForm Model="@_artist" OnValidSubmit="async () => await DirectorArtistAdmin.AddItemAsync(_artist)">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="container w3-hide-small">
        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold">
                Field
            </div>
            <div class="col-6 w3-margin-top w3-bold">
                Data
            </div>
            <div class="col w3-margin-top w3-bold">
                Format
            </div>
        </div>

        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold">
                Name and Surname
            </div>
            <div class="col-6 w3-margin-top">
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.Name"
                       placeholder="Enter Artist's name and surname">
            </div>
            <div class="col w3-margin-top ">
                <p class="w3-bold">
                    [Surname, Name]
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold">
                Artist's ID
            </div>
            <div class="col-6 w3-margin-top">
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.Id"
                       placeholder="Enter Author id">
            </div>
            <div class="col w3-margin-top ">
                <p class="w3-bold">
                    [int]
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold">
                Birth Data
            </div>
            <div class="col-6 w3-margin-top">
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.BirthData"
                       placeholder="Enter Title">
            </div>
            <div class="col w3-margin-top ">
                <p class="w3-bold">
                    [dd/mm/yyyy - dd/mm/yyyy] <br/>
                    [yyyy -yyyy]
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold">
                Specialty
            </div>
            <div class="col-6 w3-margin-top">
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.Profession"
                       placeholder="Enter Year (YYYY)">
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold">
                School
            </div>
            <div class="col-6 w3-margin-top">
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.School"
                       placeholder="Enter the School of the Artist">
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold">
                Biography
            </div>
            <div class="col-6 w3-margin-top">
                <InputTextArea class="w3-round w-100" rows="8" @bind-Value="_artist.Biography"/>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col w-20 w3-margin-top w3-bold w3-bold">
                Image
            </div>
            <div class="col-6 w3-margin-top">
                <InputFile id="idProfilePicture" class="form-control" OnChange="e => _artist.File = e.File"/>
            </div>
            <div class="col w3-margin-top ">
                Format [.jpg,.png,.jpeg ...]
            </div>
        </div>
    </div>

    <!-------------------------------------------------------------------->

    <div class="w3-hide-large w3-hide-medium">
        <div class="row">
            <div class="col w3-margin-top">
                <label class="w3-bold w3-margin-top">Name and Surname</label>
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.Name"
                       placeholder="[Surname, Name]">
            </div>
        </div>

        <div class="row">
            <div class="col w3-margin-top">
                <label class="w3-bold w3-margin-top">Artist's ID</label>
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.Id"
                       placeholder="[yyyy -yyyy]">
            </div>
        </div>

        <div class="row">
            <div class="col w3-margin-top">
                <label class="w3-bold w3-margin-top">Birth Data</label>
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.BirthData"
                       placeholder="[yyyy -yyyy]">
            </div>
        </div>

        <div class="row">
            <div class="col w3-margin-top">
                <label class="w3-bold w3-margin-top">Specialty</label>
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.Profession"
                       placeholder="Enter the Artist's specialty">
            </div>
        </div>

        <div class="row">
            <div class="col w3-margin-top">
                <label class="w3-bold w3-margin-top">School</label>
                <input class="w3-round w-100" type="text"
                       @bind-value="_artist.School"
                       placeholder="Enter the Artist's School">
            </div>
        </div>

        <div class="row">
            <div class="col w3-margin-top">
                <label class="w3-bold w3-margin-top">Biography</label>
                <InputTextArea class="w-100 w3-round w-100" rows="8" @bind-Value="_artist.Biography"/>
            </div>
        </div>

        <div class="row">
            <div class="col w3-margin-top">
                <label class="w3-bold w3-margin-top">Image</label>
                <InputFile id="idProfilePicture" class="form-control" OnChange="e => _artist.File = e.File"/>
            </div>
        </div>
    </div>

    <hr/>

    @*TODO: disable if DirectorArtistAdmin.IsBusy*@
    <button type="submit" class="general-button">Add</button>
</EditForm>


@code {
    readonly BaseArtist _artist = new();

    protected override async Task OnInitializedAsync()
    {
        DirectorArtistAdmin.PropertyChanged += async (sender, e) => { await InvokeAsync(StateHasChanged); };
    //TODO: CLEAR PARAMETERS
        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        DirectorArtistAdmin.PropertyChanged -= OnPropertyChangedHandler;
    }

}