
#search {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.button-padding {
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f44336;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #f44336;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.reverse {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

img {
    display: block;
    max-width: 560px;
    max-height: auto;
    width: auto;
    height: auto;
}

a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: red;
}
/*.. */
/*td {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 8px;
}

p {
    vertical-align: middle;
}*/

/*Hero*/

.hero {
    width: 100%;
    position: relative;
}

.hero h2 {
    margin: 0 0 10px 0;
    font-size: 38px;
    font-weight: 700;
}

.hero h2 span {
    position: relative;
    z-index: 1;
    padding: 0 5px;
    display: inline-block;
}

.hero h2 span:before {
    content: "";
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    font-size: 18px;
}


@media (max-width: 768px) {
    .hero h2 {
        font-size: 32px;
    }
}