#main {
    border-radius: 2.25rem !important;
}

/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    min-height: 30vh;
    position: relative;
}

br {
    display: block;
    margin: 10px 0;
}

.page-header h1 {
    font-size: 56px;
    font-weight: 500;
    color: #79021c;
}

@media (max-width: 768px) {
    .page-header h1 {
        font-size: 36px;
    }
}


.page-header .cta-btn {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #fff;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h2 {
    font-weight: 700;
    font-size: 24px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul strong {
    margin-right: 10px;
}

.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    line-height: 0;
}


/*Gallery*/
.gallery {
    margin-top: 40px;
}

.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery .gallery-item img {
    transition: 0.3s;
}

.gallery .gallery-links {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    line-height: 1.2;
    margin: 30px 8px 0 8px;
}

.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
    color: #fff;
}

.gallery .gallery-links .details-link {
    font-size: 30px;
    line-height: 0;
}

.gallery .gallery-item:hover .gallery-links {
    opacity: 1;
}

.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link {
    margin-top: 0;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

.glightbox-clean .gslide-description {
    background: #222425;
}

.glightbox-clean .gslide-title {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.img-artwork {
    padding: .25rem;
    background-color: #daa520;
    border: 2px solid #daa520;
    border-radius: .25rem;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

