/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    min-height: 30vh;
    position: relative;
}

    .page-header h1 {
        font-size: 56px;
        font-weight: 500;
        color: #79021c;
    }

@media (max-width: 768px) {
    .page-header h1 {
        font-size: 36px;
    }
}


.page-header .cta-btn {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #fff;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h2 {
    font-weight: 700;
    font-size: 24px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul strong {
    margin-right: 10px;
}

.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    line-height: 0;
}
