@using ProjectWork.Models.Artwork
@using ProjectWork.Utilities
<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bookmark deletion</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                        @onclick="() => Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete @Artwork from your bookmarks?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        @onclick="async () => { await Bookmarks.RemoveFromBookmarks(Artwork.Id, Artwork.Title); Close(); }">
                    Yes
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        @onclick="() => Close()">
                    No
                </button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    [Parameter]
    public SlimArtworkModel Artwork { get; set; }

    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

}